h1 {
    color: red;
    text-align: center;
}
p{
    font-size: 45px;
    color: black;
    font-weight: bold;
}
body {
    background-color: aqua;
    background-image: url("16Город.jpg");
}
.div1 {
    padding: 45px;
    margin: 20px;
    border: 3px solid rgb(251, 1, 1);
    text-align: center;
    font-size: 30px;
    color: chartreuse;

}
.div2{
    font-size: 45px;
    width: 60px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    overflow: hidden;

}